.search-bar-form {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    width: 70%;
  }
  
  .search-bar-form input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 1rem;
    height: 3.5rem; /* Maximum height */
  }
  
  .search-button {
    background-color: white;
    border: none;
    padding: 0;
    margin: 0;
    height: 3.5rem; /* Same height as the input */
    cursor: pointer;
  }
  
  .search-button img {
    height: 2rem; /* Adjust the image size */
    margin: 1rem; /* Centers the image in the button */
  }

  @media (max-width: 1500px) {
    .search-bar-form {
        display: flex;
        align-items: center;
        border: none;
        border-radius: 5px;
        overflow: hidden;
        width: 60%;
      }
  }
  @media (max-width: 1100px) {
    .search-bar-form {
        display: flex;
        align-items: center;
        border: none;
        border-radius: 5px;
        overflow: hidden;
        width: 50%;
      }
  }
  
  /* Adjustments for different screen sizes */
  @media (max-width: 768px) {
    .search-bar-form {
        display: flex;
        align-items: center;
        border: none;
        border-radius: 5px;
        overflow: hidden;
        width: 80%;
      }
      
      .search-bar-form input {
        flex-grow: 1;
        border: none;
        outline: none;
        padding: 10px 15px;
        font-size: 1rem;
        height: 3.5rem; /* Maximum height */
      }
      
      .search-button {
        background-color: white;
        border: none;
        padding: 0;
        margin: 0;
        height: 3.5rem; /* Same height as the input */
        cursor: pointer;
      }
      
      .search-button img {
        height: 2rem; /* Adjust the image size */
        margin: 1rem; /* Centers the image in the button */
      }
  }
  